.detailCardImage {
    width: 100%;
    max-height: 100%;
    max-height: 550px;
    object-fit: contain;
    border-radius: 10px;
    margin-bottom: 1rem;
  }
  
  .detailCard {
    border-radius: 10px;
    border: none;
    background-color: #ffffff; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
    margin-bottom: 1rem;

    .detailCardTitle {
      	font-size: 1.25rem;
      	color: #333;
      	font-weight: 600;
      	margin-bottom: 0.5rem;
    }
  
    .detailCardText {	
		font-size: 1rem; 
		color: #555;
		margin-bottom: 1rem;
    }
  
    .detailCardListItem {
		border: none;
		border-bottom: solid #807c7c31 1px;
		font-size: 1rem;
		color: #555;
    }
  
    .detailCardButton {
    	font-size: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
     	border-radius: 20px;
     	background-color: #30a74c;
        color: #ffffff;
        border: none;
        transition: background-color 0.3s ease;
      &:hover {
        background-color: #34b452; 
      }
    }
  }
  
  .detailCardReview {
    border: none;
    border-radius: 10px;
    background-color: #ffffff; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
    margin-bottom: 1rem;
  
    .detailCardReviewTitle {
		font-size: 1.1rem; 
		color: #333;
		margin-bottom: 0.5rem;
    }
  
    .detailCardReviewText {
		font-size: 1rem;
		color: #555;
		margin-bottom: 0.5rem;
    }
  
    .detailCardReviewSub {
		font-size: 0.9rem;
		color: #777;
		padding-bottom: 0.8rem;
    }
  
    .detailCardReviewFooter {
		font-size: 0.8rem;
		color: #777;
		background-color: transparent;
    }
  }

  @media (max-width: 992px) { 
	.detailCardImage {
		max-height: 50%;
	}
  }
  
  @media (max-width: 768px) { 
    .detailCardTitle {
      	font-size: 1.1rem;
    }
  
    .detailCardText {
      	font-size: 0.9rem;
    }
  
    .detailCardButton {
		font-size: 0.9rem;
		padding: 0.4rem 1rem;
    }
  
    .detailCardReviewTitle {
    	font-size: 1rem;
    }
  
    .detailCardReviewText {
      	font-size: 0.9rem;
    }
  
    .detailCardReviewSub {
      	font-size: 0.8rem;
    }
  
    .detailCardReviewFooter {
      	font-size: 0.8rem;
    }
  }
  
  
    
  
  