.navbarFull {
	background-color: #FAF9F6;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
	padding: 1rem;
    position: relative;

	.navbarBrand {
		font-size: 1.5rem;
		font-weight: bold;
		color: #333;
	}

	.navbarToggler {
		border: none;
		font-size: 1.5rem;
		color: #333;
	}

	.navbarLeft {
		display: flex;
		align-items: center;
        flex: 1;

		.nav-link {
			font-size: 1rem;
			color: #333;
			margin-right: 1rem;
            margin-top: 0.2rem;
			transition: color 0.3s ease;

			&:hover {
				color: #007bff;
			}
		}

        .dropdown-menu {
            margin-top: -0.8rem;
            background-color: transparent;
            border: none;
            position: absolute;  
        }

        .dropdownItemsContainer {
            background-color: #FAF9F6;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            position: absolute;
            max-height: 16rem;  
            overflow-y: scroll;
            z-index: 2;
            
            &::-webkit-scrollbar {
                width: 8px;
            }
        
            &::-webkit-scrollbar-thumb {
                background-color: #ccc;
                border-radius: 4px;
            }
        
            &::-webkit-scrollbar-thumb:hover {
                background-color: #b3b3b3;
            }
        }
	}

    .dropdownItem {
        &:hover {
            color: #007bff;
        }
    }

	.navbarRight {
        order: 1;
		display: flex;
		align-items: center;
        margin-left: auto;

		.cartButton {
            display: flex;
            align-items: center;
            border: none;
            background-color: transparent;
            position: relative; 

            &:hover {
				background-color: #34b452;
			}
        
            img {
                width: 24px;
                height: 24px;
            }
        
            .cartCount {
                position: absolute;
                top: -5px; 
                right: -5px;
                background-color: #7b68ee; 
                color: #ffffff; 
                font-size: 0.75rem; 
                padding: 1px 4px; 
                border-radius: 50%;
                border: 1px solid #ffffff;
            }
        }
	}

    .searchBarContainer {
       margin-right: auto;
       margin-left: auto;
       margin-bottom: -0.8rem;
       padding-right: 9rem; 
     }

    @media (max-width: 991px) {

        .navbarRight {
			position: absolute; 
			right: 13.5rem; 
            top: 1.4rem; 
		}

        .searchBarContainer {
            order: -1;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: -0.8rem;
            padding-right: 0;
          }
    }

    @media (max-width: 920px) {

        .navbarRight {
			right: 11.5rem;  
		}
    }

    @media (max-width: 862px) {

        .navbarRight {
			right: 10rem;  
		}
    }

    @media (max-width: 810px) {

        .navbarRight {
			right: 8rem;  
		}
    }

    @media (max-width: 767px) {

        .navbarRight {
			right: 12.5rem;  
		}
    }

    @media (max-width: 705px) {

        .navbarRight {
			right: 10.5rem;  
		}
    }

    @media (max-width: 650px) {

        .navbarRight {
			right: 8.5rem;  
		}
    }

    @media (max-width: 590px) {

        .navbarRight {
			right: 7rem;  
		}
    }

	@media (max-width: 480px) {
		.navbarFull {
			padding: 0.5rem 1rem;
		}

		.navbarBrand {
			font-size: 1.25rem;
		}

		.navbarLeft {
			flex-direction: column;
			align-items: flex-start;
			margin-top: 1rem;
		}

		.navbarRight {
			position: absolute; 
			right: 6.5rem; 
			top: 1rem; 
		}
		.navbarToggler {
			margin-right: auto;
		}

        .searchBarContainer {
           margin-left: 0;
          }
	}
}

.cartCheckoutButton {
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    border-radius: 20px;
    background-color: #30a74c;
    color: #ffffff;
    border: none;
    transition: background-color 0.3s ease;
    &:hover {
        background-color: #34b452; 
    }
}

.cartBody {
    background-color: #F4F3F2;
}

.cartTitle {
    background-color: #F4F3F2;
}

.cartFooter {
    display: flex;
    justify-content: space-between;
    position: sticky;
    bottom: 0;
    background-color: #F4F3F2;
    box-shadow: 0 2px 40px rgba(0, 0, 0, 0.1);
    padding: 0.7rem;
    width: 100%;
}

.cartCheckoutButton {
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    border-radius: 20px;
    background-color: #30a74c;
    color: #ffffff;
    border: none;
    transition: background-color 0.3s ease;
  &:hover {
    background-color: #34b452; 
  }

  &:disabled {
    background-color: #30a74c;
  }
}
