.cartFooter {
    display: flex;
    justify-content: space-between;
    position: sticky;
    bottom: 0;
    background: white;
    box-shadow: 0 2px 40px rgba(0, 0, 0, 0.1);
    padding: 0.7rem;
    width: 100%;
}