.overviewCardFull {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	max-width: 12rem;
	border: none;
	border-radius: 10px;
	background-color: #faf9f9;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	transition: transform 0.2s ease-in-out;

&:hover {
	transform: translateY(-5px);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
}

.overviewCardImage {
	width: 100%;
	height: 10rem;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	object-fit: cover;
}

.overviewCardBody {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	flex-grow: 1;
	width: 100%;
	padding: 1rem;
}

.overviewCardTitle {
	font-size: 1rem;
	color: #1a1717;
	font-weight: 600;
	text-decoration: none;
	margin-bottom: 0.5rem;
}

.overviewCardText {
	font-size: 0.9rem;
	color: #473e3e;
	margin-bottom: 0.3rem;
}

.overviewCardButton {
	font-size: 0.9rem;
	padding-top: 0.5rem;    
	padding-bottom: 0.5rem;
	padding-right: 1rem;  
	padding-left: 1rem;
	border-radius: 20px;
	transition: background-color 0.3s ease;

	&:hover {
		background-color: #30a74c;
		color: #ffff;
	}
}

@media (max-width: 318px) {
	.overviewCardBody {
		padding: 0.8rem; 
	}

	.overviewCardImage {
		height: 8rem;
	}

	.overviewCardTitle {
		font-size: 0.9rem;
	}

	.overviewCardText {
		font-size: 0.8rem;
	}

	.overviewCardButton {
		font-size: 0.8rem;
		padding-top: 0.4rem;    
		padding-bottom: 0.4rem;
		padding-right: 0.8rem;  
		padding-left: 0.8rem;
	}
}
