.receiptContainer {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	border-radius: 12px;
	padding: 20px;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.cartThumbnail {
	display: flex;
	align-self: center;
	justify-self: center;
	width: 80px;
	height: 80px;
	margin-right: 1.2rem;
}

.orderDetails ul {
	list-style-type: none;
	padding: 0;
}
