.searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
}

.searchContainer form {
    width: 400px;
 }

 .searchForm {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0.65rem;
 }

 .searchFormInput {
   border-radius: 0.25rem;
   border: 1px solid #f8efef; 

   &:focus {
      border-color: #f1ecec;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   }
}

 .searchButton {
   border-radius: 10px;
   background-color: #f1f0f0;
   border: none;

   &:hover {
      background-color: #f1ecec;
   }
 }

 @media (max-width: 991px) {
   .searchContainer form {
       width: 350px;
       
    }
 }

  @media (max-width: 500px) {
    .searchContainer form {
        width: 325px;
     }
  }

  @media (max-width: 400px) {
   .searchContainer form {
       width: 300px;
    }
 }

  @media (max-width: 350px) {
    .searchContainer div {
    	width: 280px;
     }
   }

     @media (max-width: 320px) {
      .searchContainer div {
         width: 260px;
       }

  }